<!DOCTYPE html>
<html>
<head>
    <title>Timer Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>-->
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Timer: <span id="timer">0</span></h1>

    <script>
        var socket = io();
        console.log("Hello this has started", socket)

        // Function to update the timer on the page
        function updateTimer(timer) {
            $('#timer').text(timer);
        }

      // Event listener to start receiving timer updates from the server
        socket.on('connect', function() {
            socket.emit('get_packets');
        });

        // Event listener for receiving timer updates from the server
        socket.on('packets_info', function(obj) {
            timer=obj.timer
            updateTimer(timer);
            console.log(obj)
        });
        socket.on('Completed', function(data) {
            alert('Completed Successfully')
            console.log('Packets reached =>',data)
            socket.emit('close');
        });
    </script>
</body>
</html>
